<!DOCTYPE html>
<html>

<head>
    <title>a</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>


    <div id="app-4">
        <p>{{ message }}</p>
        名前： <input v-model="m1">
        コース：<input v-model="m2">
        受講期：<input v-model="m3">
        <ul>
            <li v-for="todo in todos">
                ID/{{ todo.text }}
            </li>
        </ul>
        <button v-on:click="addStudent">生徒を追加する</button>
    </div>

    <script src="index.js"></script>
</body>

</html>